<main class="slide" data-slide="chart">
    <div class="slide-description">
        <div class="slide-description__headline">
            <%= data.title %>
        </div>
        <div class="slide-description__caption">
            <%= data.subtitle %>
        </div>
    </div>

    <div class="chart-wrapper chart-wrapper_vertical-align_end chart-wrapper_vertical-align_horiz-center">
        <div class="chart-block">
            <% for (let valueIx = 0; valueIx < data.values.length; valueIx += 1) { %>
                <div class="chart-block__item">
                    <p
                        class="chart-block__item-value
                        <%= data.values[valueIx].active ? 'chart-block__item-value_active' : '' %>"
                    >
                        <%= data.values[valueIx].value !== 0 ? data.values[valueIx].value : '' %>
                    </p>

                    <div
                        class="chart-block__item-bar chart-block__item-bar_visible_vert
                        <%= data.values[valueIx].active ? 'chart-block__item-bar_active' : '' %>"
                        <%- `style="height: ${data.values[valueIx].heightValueVert}%"` %>
                    ></div>

                    <div
                        class="chart-block__item-bar chart-block__item-bar_visible_horiz
                        <%= data.values[valueIx].active ? 'chart-block__item-bar_active' : '' %>"
                        <%- `style="height: ${data.values[valueIx].heightValueHoriz}%"` %>
                    ></div>

                    <p class="chart-block__item-title">
                        <%= data.values[valueIx].title %>
                    </p>
                </div>
            <% } %>
        </div>

        <div class="chart-leaders">
            <% for (let i = 0; i < 3; i++) { %>
                <div
                    class="people-card people-card_direction_row people-card_padding_0
                    <%= i === 2 ? 'people-card_visibility_horiz-1366' : '' %>"
                >
                    <div class="people-card__img-wrapper">
                        <img
                            class="people-card__img"
                            src="<%= require(`../assets/images/${data.users[i].avatar}`).slice(1) %>"
                            alt="People card image"
                        >
                    </div>

                    <div class="people-card__text-wrapper">
                        <p class="people-card__body">
                            <%= data.users[i].name %>
                        </p>

                        <p class="people-card__caption">
                            <%= data.users[i].valueText %>
                        </p>
                    </div>
                </div>

                <% if (i !== 2) { %>
                    <div
                        class="divider divider_revert_color divider_margin-vertical_1 divider_horizontal-revert
                        <%= i === 1 ? 'divider_visibility_horiz-1366' : '' %>"
                    ></div>
                <% } %> 
            <% } %>
        </div>
    </div>
</main>