<main class="slide slide_horizontal-align_between" data-slide="diagram">
    <div class="slide-description">
        <p class="slide-description__headline">
            <%= data.title %> 
        </p>
        <p class="slide-description__caption">
            <%= data.subtitle %> 
        </p>
    </div>

    <div
        class="slide-body-wrapper slide-body-wrapper_height_vert-100 slide-body-wrapper_flex
        slide-body-wrapper_vertical-align_vert-end slide-body-wrapper_wrap slide-body-wrapper_horizontal-align"
    >
        <div class="diagram-block">
            <div class="diagram-block__description">
                <p class="diagram-block__description-title">
                    <%= data.totalText %>
                </p>
                <p class="diagram-block__description-caption">
                    <%= data.differenceText %>
                </p>
            </div>

            <div class="diagram-block__body">
                <% for (let diagramItemIx = 0; diagramItemIx < data.dataset.length; diagramItemIx += 1) { %>
                    <div
                        class="diagram-block__item
                        diagram-block__item_color_<%= diagramItemIx + 1 %>"
                        style=<%= 
                            `clip-path: polygon(${data.dataset[diagramItemIx].clipPathParams});
                            transform: rotate(${data.dataset[diagramItemIx].rotateDeg}deg);`
                        %>
                    ></div>
                <% } %>
            </div>
        </div>

        <div class="diagram-categories">
            <% for (let i = 0; i < data.categories.length; i++) { %>
                <div class="diagram-categories-item">
                    <div class="diagram-categories-item__title">
                        <div class="diagram-categories-item__marker <%= `diagram-categories-item__marker_color_${i + 1}` %>"></div>
                        <%= data.categories[i].title %>
                    </div>

                    <div class="diagram-categories-item__description">
                        <p class="diagram-categories-item__description-item
                            diagram-categories-item__description-item_padding_right-1"
                            <% if (data.categories[i].difference.length === 2) { %>
                                <% // Need for testing - text is wider on screenshot %>
                                style="letter-spacing: 0.5px;"
                            <% } else if (data.categories[i].difference.length) { %>
                                style="letter-spacing: 0.33px;"
                            <% } %>
                        >
                            <%= data.categories[i].difference %>
                        </p>

                        <p class="diagram-categories-item__description-item">
                            <%= data.categories[i].value %>
                        </p>
                    </div>
                </div>

                <% if (i !== data.categories.length - 1) { %>
                    <div class="divider divider_margin-vertical_1"></div>
                <% } %>
            <% } %>
        </div>
    </div>
</main>
