<main class="slide slide_horizontal-align_between" data-slide="diagram">
    <div class="slide-description">
        <p class="slide-description__headline">
            <%= data.title %> 
        </p>
        <p class="slide-description__caption">
            <%= data.subtitle %> 
        </p>
    </div>

    <div
        class="slide-body-wrapper slide-body-wrapper_height_vert-100 slide-body-wrapper_flex
        slide-body-wrapper_vertical-align_vert-end slide-body-wrapper_wrap slide-body-wrapper_horizontal-align"
    >
        <div class="diagram-block">
            <div class="diagram-block__description">
                <p class="diagram-block__description-title">
                    <%= data.totalText %>
                </p>
                <p class="diagram-block__description-caption">
                    <%= data.differenceText %>
                </p>
            </div>

            <div class="diagram-block__body">
                <canvas
                    data-total-value="<%= data.totalValue %>"
                    data-relative-deg="<%= data.relativeDeg %>"
                    data-values="<%= JSON.stringify(data.dataset) %>"
                    data-theme="dark"
                ></canvas>
            </div>

            <div class="diagram-block__body diagram-block__body_light">
                <canvas
                    data-total-value="<%= data.totalValue %>"
                    data-relative-deg="<%= data.relativeDeg %>"
                    data-values="<%= JSON.stringify(data.dataset) %>"
                    data-theme="light"
                ></canvas>
            </div>
        </div>

        <div class="diagram-categories">
            <% for (let i = 0; i < data.categories.length; i++) { %>
                <div class="diagram-categories-item">
                    <div class="diagram-categories-item__title">
                        <div class="diagram-categories-item__marker <%= `diagram-categories-item__marker_color_${i + 1}` %>"></div>
                        <%= data.categories[i].title %>
                    </div>

                    <div class="diagram-categories-item__description">
                        <p class="diagram-categories-item__description-item">
                            <%= data.categories[i].difference %>
                        </p>

                        <p class="diagram-categories-item__description-item">
                            <%= data.categories[i].value %>
                        </p>
                    </div>
                </div>

                <% if (i !== data.categories.length - 1) { %>
                    <div class="divider divider_margin-vertical_1"></div>
                <% } %>
            <% } %>
        </div>
    </div>
</main>
