<main class="slide slide_horizontal-align_between" data-slide="leaders">
    <div class="slide-description">
        <p class="slide-description__headline">
            <%= data.title %>
        </p>
        <p class="slide-description__caption">
            <%= data.subtitle %>
        </p>
    </div>

    <div class="leader-board">
        <%
            let barOrder = [[3, 5], [4, 4], [2, 3], [5, 2], [1, 1]];

            let inFirstThree = true;
            let inFirstFive = true;
            let selectedUserPos = data.users.findIndex(user => user.id === data.selectedUserId);
            if (selectedUserPos > 2) {
                inFirstThree = false;
            }
            if (selectedUserPos > 4) {
                inFirstFive = false;
            }

            const selectedUser = data.users[selectedUserPos];
        %>
        <% for (let i = 0; i < 5; i++) { %>
            <%
                let itemClasses = [];
                itemClasses.push(`leader-board__item_order_${barOrder[i][0]}`);
                if (i > 2) itemClasses.push('leader-board__item_additional');
                if (i === 0) {
                    itemClasses.push(`leader-board__item_z-index_2`);
                } else if (i < 3) {
                    itemClasses.push(`leader-board__item_z-index_1`);
                }

                let barClasses = [];
                barClasses.push(`leader-board__bar_height_${barOrder[i][1]}`);
                if (i === 0) barClasses.push('leader-board__bar_primary');

                let peopleCardWrapper;
                if (i === 0) {
                    peopleCardWrapper = 'leader-board__wrapper_to-vis-align_center';
                } else if (i % 2 === 0) {
                    peopleCardWrapper = 'leader-board__wrapper_to-vis-align_start';
                } else {
                    peopleCardWrapper = 'leader-board__wrapper_to-vis-align_end';
                }

                let currentUser = data.users[i];
                if (!inFirstFive && i === 4) {
                    currentUser = selectedUser;
                }
            %>
            <div class="leader-board__item <%= itemClasses.join(' ') %>">
                <div class="leader-board__wrapper <%= peopleCardWrapper %>">
                    <div class="people-card">
                        <div class="people-card__img-wrapper">
                            <% if (i === 0) { %>
                                <div class="people-card__emoji">
                                    <%= data.emoji %>
                                </div>
                            <% } else if (currentUser.id === data.selectedUserId) { %>
                                <div class="people-card__emoji">
                                    👍
                                </div>
                            <% } %>

                            <img
                                src="<%= require(`../assets/images/${currentUser.avatar}`) %>"
                                alt="People card image"
                                class="people-card__img"
                            >
                        </div>
                        
                        <div class="people-card__text-wrapper">
                            <p class="people-card__body">
                                <%= currentUser.name %>
                            </p>
                            <p class="people-card__caption">
                                <%= currentUser && currentUser.valueText ? currentUser.valueText : '' %>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="leader-board__bar <%= barClasses.join(' ') %>">
                    <div class="leader-board__score leader-board__wrapper <%= peopleCardWrapper %>">
                        <%= !inFirstFive && i === 4 ? selectedUserPos + 1 : i + 1 %>
                    </div>

                    <% if (!inFirstThree && i === 0) { %>
                        <div class="leader-board__relative-place">
                            <div class="people-card people-card_padding_bottom-0">
                                <div class="people-card__img-wrapper">
                                    <div class="people-card__emoji">
                                        👍
                                    </div>

                                    <img
                                        src="<%= require(`../assets/images/${selectedUser.avatar}`) %>"
                                        alt="People card image"
                                        class="people-card__img"
                                    >
                                </div>
                                
                                <div class="people-card__text-wrapper">
                                    <p class="people-card__body">
                                        <%= selectedUser.name %>
                                    </p>
                                    <p class="people-card__caption people-card__caption_secondary">
                                        <%= selectedUser && selectedUser.valueText ? selectedUser.valueText : '' %>
                                    </p>
                                </div>

                                <div class="divider divider_card-divider"></div>
                            </div>

                            <div
                                class="leader-board__score leader-board__score_relative-place
                                leader-board__wrapper <%= peopleCardWrapper %>"
                            >
                                <%= selectedUserPos + 1 %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</main>