<main class="slide slide_horizontal-align_between" data-slide="leaders">
    <div class="slide-description">
        <p class="slide-description__headline">
            <%= data.title %>
        </p>
        <p class="slide-description__caption">
            <%= data.subtitle %>
        </p>
    </div>

    <div class="leader-board">
        <% for (let userIx = 0; userIx < data.users.length; userIx += 1) { %>
            <% const currentUser = data.users[userIx]; %>
            <div
                class="leader-board__item
                <%= `leader-board__item_order_${currentUser.barOrder}` %>
                <%= `leader-board__item_z-index_${currentUser.zIndex}` %>
                <%= currentUser.additional ? 'leader-board__item_additional': '' %>"
            >
                <div
                    class="leader-board__wrapper
                    <%= `leader-board__wrapper_to-vis-align_${currentUser.alignment}` %>"
                >
                    <div class="people-card">
                        <div class="people-card__img-wrapper">
                            <% if (userIx === 0) { %>
                                <div class="people-card__emoji">
                                    <%= data.emoji %>
                                </div>
                            <% } else if (currentUser.selected) { %>
                                <div class="people-card__emoji">
                                    👍
                                </div>
                            <% } %>

                            <img
                                src="<%= require(`../assets/images/${currentUser.avatar}`).slice(1) %>"
                                alt="People card image"
                                class="people-card__img"
                            >
                        </div>
                        
                        <div class="people-card__text-wrapper">
                            <p class="people-card__body">
                                <%= currentUser.name %>
                            </p>
                            <p class="people-card__caption">
                                <%= currentUser && currentUser.valueText ? currentUser.valueText : '' %>
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="leader-board__bar
                    <%= `leader-board__bar_height_${currentUser.barHeight}` %>
                    <%= currentUser.primary ? 'leader-board__bar_primary' : '' %>"
                >
                    <div
                        class="leader-board__score leader-board__wrapper
                        <%= `leader-board__wrapper_to-vis-align_${currentUser.alignment}` %>"
                    >
                        <%= currentUser.place %>
                    </div>

                    <% if (data.relativePlace && userIx === 0) { %>
                        <div class="leader-board__relative-place">
                            <div class="people-card people-card_padding_bottom-0">
                                <div class="people-card__img-wrapper">
                                    <div class="people-card__emoji">
                                        👍
                                    </div>

                                    <img
                                        src="<%= require(`../assets/images/${data.relativePlaceUser.avatar}`).slice(1) %>"
                                        alt="People card image"
                                        class="people-card__img"
                                    >
                                </div>
                                
                                <div class="people-card__text-wrapper">
                                    <p class="people-card__body">
                                        <%= data.relativePlaceUser.name %>
                                    </p>
                                    <p class="people-card__caption people-card__caption_secondary">
                                        <%= data.relativePlaceUser && data.relativePlaceUser.valueText
                                            ? data.relativePlaceUser.valueText : '' %>
                                    </p>
                                </div>

                                <div class="divider divider_card-divider"></div>
                            </div>

                            <div
                                class="leader-board__score leader-board__wrapper
                                leader-board__score_relative-place
                                <%= data.relativePlaceUser.alignment %>"
                            >
                                <%= data.relativePlaceUser.place %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</main>